@using coverpage.Models
@model SignInModel
@{
    ViewBag.Title = "Accounts";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>Sign in</h2>
<div>If you do not have an account please <a href="@Url.Action("Register", "Account")">register</a></div>
<br/>
<div>
    @Html.Partial("LoginForm", Model)
</div>
