<!DOCTYPE html>
<html>
<head>
    <title>Cover Page New Site</title>
    <link href="../assets/CoverPageCSS.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>CoverPage</h1>
        </div>
        <div id="centerDoc">
            @RenderBody()
        </div>
    </div>
</body>
</html>
