@using coverpage.Models
@model ArticleModel

@{
    Layout = "_Layout.cshtml";
}
<div>
    <h3>@Model.Headline</h3>
    <div>
        <p>
            @Model.ArticleText;
        </p>
    </div>
</div>

       