@using coverpage.data
@model Article

@{
    ViewBag.Title = "An Article";
    Layout = "../Shared/_Layout.cshtml";
}
<div>
    <h3>@Model.title</h3>
    <div>
        <p>
            @Model.body;
        </p>
    </div>
</div>
@*@Html.Partial("CommentSectionView", Model.CommentSection)*@

       