@using coverpage.data
@model Article

@{
    ViewBag.Title = "An Article";
    Layout = "../Shared/_Layout.cshtml";
}
<div>
    <h3>@Model.title</h3>
    <div>
        <p>
            @Model.body;
        </p>
    </div>
</div>
<div>
    @for (int i = 0; i < Model.Ratings.Select(r => r.stars).Average(); i++ )
    {
        <img style="width:10px; height:10px;" src="../assets/images/star.jpg"/>
    }
    after @Model.Ratings.Count() reviews
</div>

       