@using coverpage.Models
@model MostViewedModel
@{
    Layout = "../Shared/_Layout.cshtml";
}


@foreach(ArticleModel article in Model.Articles)
{
    <h3>@article.Headline</h3>
    <div>
        <p>
            @article.ArticleText.Substring(0, 20)
        </p>
        <div><a href="@Url.Action("article", new { articleId = article.Id })">Read more...</a></div>
    </div>
    <br/>
}