<!DOCTYPE html>
<html>
<head>
    <title>Cover Page New Site</title>
    <link href="../../assets/CoverPageCSS.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../assets/javascript/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../assets/javascript/coverpage.js"></script>
</head>

<body>
    <div id="container">
        <div id="header">
            <a href="@Url.Action("MostViewed","Home")"><h1>CoverPage</h1></a>
        </div>
        <div><span class="menuitem"><a href="@Url.Action("Index", "Account")">Accounts</a></span></div>
        <div id="centerDoc">
            @RenderBody()
        </div>
    </div>
</body>
</html>
