@using coverpage.data
@model Article
<img id="like-article-@Model.article_id" class="like-button" src="../../assets/images/thumb.jpg" style="width: 15px; height: 15px;"/>
<span id="like-count-@Model.article_id"></span>